<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lets Hope This Works</title>
</head>
<body>
<form method="post">
    <br>
    <div>
        <br>
        <h1>Sign Up</h1>

        <hr>
<!--        <label for="id"><b>ID</b></label>-->
<!--        <input type="text" placeholder="Enter ID" name="id" id="id" required>-->

        <label for="name"><b>NAME:</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name" required>

        <label for="age"><b>AGE:</b></label>
        <input type="text" placeholder="Enter Age" name="age" id="age" required>
        <p>By signing up you agree to our <a href="#">Terms & Privacy</a>.</p>

        <input type="submit" value="Submit & Proceed"/>
    </div>
    <br>
</form>
</body>